// Buttons:
.btn-success-icon {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  span {
    padding-left: 15px;
    padding-right: 15px;
  }
  i {
    font-size: 20px;
    background-color: #19672b;
    padding: 10px 15px;
  }
}